{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% with list_name="To Do Items", items_list=view_model.to_do_items %}
        {% include "itemList.html" %}
      {% endwith %}

      {% with list_name="Done Items", items_list=view_model.done_items %}
        {% include "itemList.html" %}
      {% endwith %}

      {% include "addItemForm.html" %}
    </div>
  </div>
{% endblock %}